<%- include("includes/header")%>

<% let askeleetYhteensa = 0%>
<% let maara = 0%>

<% askeleet.forEach((tieto) => {%>

    <% maara = maara + 1%>
    <% askeleetYhteensa = askeleetYhteensa + tieto.askeleet%>

<%  })%>

<h2>Askeleita yhteensä: <%= askeleetYhteensa%>. Keskimäärin <%= Math.round(askeleetYhteensa/maara)%> askelta päivässä</h2>

<a href="/" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Palaa alkuun</a>

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">

        <tr>
            <th class="mdl-data-table__cell--non-numeric">Pvm</th>
            <th class="mdl-data-table__cell--non-numeric">Askeleet</th>
        </tr>

        <% askeleet.forEach((tieto) => {%>

            <%let paivamaara = `${tieto.pp}.${tieto.kk}.${tieto.vvvv}`%>

            <tr>
                <td class="mdl-data-table__cell--non-numeric"><%= paivamaara%></td>
                <td class="mdl-data-table__cell--non-numeric"><%= tieto.askeleet%></td>
            </tr>

        <%  })%>

    </table>

<%- include("includes/footer")%>